* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.content-header {
    background: url('../img/jumbo.png');
    background-size: cover;
    height: 700px;
    position: relative;
}

.centered {
    margin: 0 auto;
    min-width: 800px;
    max-width: 1400px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

header>nav>* {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

header {
    text-align: center;
    padding-top: 15px;
}

header .logo {
    float: left;
    margin-left: 20px;
}

header .logo img{
    vertical-align: middle;
}

header ul {
    list-style: none;
}

header .login {
    float: right;
    margin-right: 20px;
}

header li {
    float: left;
    margin: 0 15px;
}

header li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

.jumbo {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.jumbo h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.jumbo p {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 25px;
}

button .arrow {
    transform:rotate(90deg);
    display: inline-block;
}

.jumbo button:last-of-type {
    background-color: black;
    color: white;
}

.content img {
    padding: 100px 80px;
}

.content .text-content {
    padding: 130px 80px 100px;
}

.content .leftside {
    clear: left;
}

.content .rightside {
    clear: right;
}

.content h2{
    font-size: 3em;
}

.content p{
    font-size: 1.5em;
}

.content-bottom {
    text-align: center;
}

.content-bottom h3{
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 20px;
}

.content-bottom button {
    background-color: rgb(142, 161, 225);
    color: white;
}