* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

hr {
    margin: 20px 0;
}

.content-header {
    background: url('../img/jumbo.png');
    background-size: cover;
    height: 700px;
    position: relative;
}

.centered {
    margin: 0 auto;
    min-width: 800px;
    max-width: 1200px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.arrow {
    transform:rotate(90deg);
    display: inline-block;
}

header>nav>* {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

header {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.logo {
    margin-left: 20px;
}

header .logo img{
    vertical-align: middle;
}

.login {
    margin-right: 20px;
}

header li {
    float: left;
    margin: 0 15px;
}

header li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 25px;
    height: 50px;
    padding: 0 22px;
    font-size: 20px;
    font-weight: bold;
}

.jumbo {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.jumbo h1 {
    font-size: 4.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.jumbo p {
    font-size: 1.8em;
    line-height: 1.3em;
    margin-bottom: 25px;
}

.jumbo button:last-of-type {
    background-color: black;
    color: white;
}
 
main .content img {
    width: 50%;
    padding: 100px 40px 50px
}

main .content .text-content {
    width: 50%;
    padding: 130px 80px 50px;
}

main .content h2{
    font-size: 3em;
}

main .content p{
    font-size: 1.5em;
}

main .content-bottom {
    text-align: center;
}

main .content-bottom h3{
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 20px;
}

footer {
    background-color: rgb(19, 19, 20);
    margin-top: 50px;
    padding-top: 50px;
    color: white;
}

footer,footer h6 {
    font-size: 20px;
}

footer .list-pages h6,
footer #footer-title h1
{
    color: rgb(93, 110, 167)
}

footer #footer-title img{
    vertical-align: middle;
}

footer #footer-title div {
    padding-top: 25px;
}

footer #footer-title li{
    padding: 25px 20px 0 0;
}

footer .list-pages > ul{
    margin-left: 25px;
}

footer .list-pages li > ul{
    line-height: 25px;
}

footer .bottom-footer {
    padding-bottom: 20px;
}

.button-violet {
    background-color: rgb(142, 161, 225);
    color: white;
}